<?php $_code = $this->getMethodCode(); ?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none">
    <li>
        <?php echo 'You will be redirected to Perfect Money side upon placing an order.' ?>
    </li>
</ul>

