<?php echo $this->htmlEscape($this->getMethod()->getTitle()) ?><br />
<?php if ($this->getInfo()->getLastTransId() == ''): ?>
    <em><?php echo Mage::helper('perfectmoney')->__('You will be redirected to Perfect Money side upon placing an order.') ?></em>
<?php else: ?>
    <?php echo Mage::helper('perfectmoney')->__('Perfect Money batch id %s', $this->htmlEscape($this->getInfo()->getLastTransId())) ?><br />
<?php endif; ?>
