<b><?php echo Mage::helper('perfectmoney')->__('Loading secure payment page (SSL)'); ?></b>
<form name="perfectmoney" id="perfectmoney_place_form" action="<?php echo $this->getFormAction();?>" method="GET">
</form>

<script type="text/javascript">
//<![CDATA[
    var paymentform = document.getElementById('perfectmoney_place_form');
    window.onload = paymentform.submit();
//]]>
</script>